{
    ApplicationDescription = "Test GNUStep app.";
    ApplicationName = GSApp;
    ApplicationRelease = "1.0";
    Authors = ( "Boris D. <borisd@gmx.com>" );
    FullVersionID = "1.0";
    GSMainMarkupFile = "";
    NSExecutable = GSApp;
    NSIcon = "";
    NSMainNibFile = "";
    NSMainStoryboardFile = "";
    NSPrincipalClass = NSApplication;
}